<!DOCTYPE html>
<html lang="en">
<!-- All of the meta data for the page belongs in the header tag -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/static/images/favicon.png">
	<link rel="stylesheet" href="/static/css/html5reset.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>Auto Resume Generator</title>
</head>

<body>
	<header class="header1">
		<img src="/static/images/logo.png" alt="logo" class="logo">
		<a href="/" class="close"><img src="/static/images/img6.png" alt="close" class="close"></a>
    </header>
    <main class="signup-main">
        <h1 class="signup-h1">Sign Up</h1>
        <p1 class="signup-p1">Welcome to Auto Resume Generator!</p1>
        <form action="/accounts/signup/" method="POST" class="signup-form" style="width: 300px;" oninput="form_input_func()" onsubmit="form_submit_func(event)">
            <input type="text" id="username" name="username" placeholder="username"><br>
            <input type="text" id="password" name="password" placeholder="password"><br>
            <input type="submit" value="Submit" id="form-button">
        </form>
        <p2 class="signup-p2">Already have an account yet?</p2>
        <a href="/accounts/login/" class="signup-p3"><p3>Log In</p3></a>
    </main>

    <footer class="footer">
		&copy; 2022 AUTO RESUME GENERATOR
   </footer>
</body>

<script src="/static/entry.js/"></script>